@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



a {
  user-select: none;
}
.for-desk {
  display: none;
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  font-family: 'General Sans', sans-serif;
  padding: 7px 0;

  
  background: var(--var-color-white);

  svg {
    font-size: 30px;
  }
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  height: 90px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  width: 67px;
  display: inherit;
  height: 67px;
  font-weight: 600;
  text-decoration: none;

  svg {
    width: 120px;
    height: 67px;
  }
}
.wrapper .nav-links{
  display: inline-flex;
  margin-left: 30px;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: var(--var-color-black);
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
  margin: 0 11px;
  padding: 9px 15px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  color: var(--var-color-main);
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: var(--var-color-white);
  width: 310px;
  line-height: 45px;
  border-radius: 8px;
  padding: 10px 3px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: bold;
  border-radius: 0px;
}
.drop-menu li {
  padding: 5px 0;
}
.content .row img{
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  user-select: none;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 600;
}
.wrapper .btn{
  color: var(--var-color-main);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

@media screen and (max-width: 970px) {

 .wrapper {
    padding: 0 20px;
 }

  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: var(--var-color-white);
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: flex;
    justify-content: center;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: var(--var-color-black);
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    color: var(--var-color-main);
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .for-desk {
    display: block;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
  .for-mobile {
    display: none;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
.advanced  a {
  margin: 0 7px;
  font-weight: bold;
  padding: 13px 23px;
  color: #ffff;
  border-radius: 30px;
  font-size: 19px;
  text-decoration: none;
}
.advanced a:nth-child(2) {
  background: var(--var-color-main);
  transition: all 0.3s ease-out;
  border: 2px solid var(--var-color-main);

  &:hover {
    background: var(--var-color-white);
  transition: all 0.3s ease-out;
  color: var(--var-color-main);
  }
}
.advanced a:nth-child(1) {
  opacity: 1;
  padding: 12px 26px;
  border: 2px solid var(--var-color-main);
  color: var(--var-color-main);
  transition: all 0.3s ease-out;
  &:hover {
    color: var(--var-color-main);
    transition: all 0.3s ease-out;
  }
}
.creator-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;

    a {
      color: var(--var-color-main);
    }
  }
}
.drop-euthrM4 svg {
  font-size: 26px;
  vertical-align: middle;
  display: inline-block;
  transition: all 0.2s ease-out;
  font-weight: bold;
  margin-left: 3px;
  transform: rotate(180deg);
}
.drop-euthrM4:hover svg {
  transition: all 0.2s ease-out;
}
.drop-menu:hover .drop-euthrM4 {
    color: var(--var-color-main);
}